django
djangorestframework
channels[daphne]
channels-redis
django-filter
psycopg2-binary
django-decouple
djoser
djangorestframework-simplejwt
Pillow
drf-nested-routers
requests
django-cleanup
drf-yasg
# django-channels-jwt-auth-middleware
# pyotp
# daphne
# django-debug-toolbar
# django-crontab
# jdatetime
# gunicorn 
# django-phonenumber-field[phonenumbers]
