django
djangorestframework
channels==3.0.5
channels-redis==3.4.1
django-filter
psycopg2-binary
django-decouple
djoser
djangorestframework-simplejwt
Pillow
drf-nested-routers
requests
django-cleanup
drf-yasg
# django-channels-jwt-auth-middleware
# pyotp
# daphne
# django-debug-toolbar
# django-crontab
# jdatetime
# gunicorn 
# django-phonenumber-field[phonenumbers]
