{% load static %}
<!DOCTYPE html>
<hmtl>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat room</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div id="container">

			{% block aside %}{% endblock aside %}
            {% block main %}{% endblock main %}

		</div>
		{% block scripts %}{% endblock scripts%}
    </body>

</hmtl>
