{% extends 'chat/base.html' %}
{% load static %}

{% block aside%}
<aside>
    <div id="current-user-data"></div><hr>
    <span id="search-username-guide">Enter username to start conversation</span>
    <header>
        <input type="text" placeholder="username" id='search-username' onkeydown="searchUsernameKeydownHandler(event)">
    </header>
    <hr>

    <ul id="contacts"></ul>

</aside>
{% endblock aside %}


{% block main %}
<main>

	<header id="main-header"></header>

	<ul id="chat" onScroll="chatULScrollHandler(event)"></ul>  <!-- The id should not be changed -->

	<footer id='main-footer'></footer>

 </main>
{% endblock main %}


{% block scripts %}
<script async defer src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}
