{% extends 'chat/base.html' %}
{% load static %}

{% block aside%}
<aside>
    <header>
        <input type="text" placeholder="username" id='search-username' onkeydown="searchUsernameSubmitHandler(event)">
    </header>

    <ul id="contacts"></ul>

</aside>
{% endblock aside %}


{% block main %}
<main>

	<header id="main-header">
	</header>

	<ul id="chat"> <!-- The id should not be changed -->
	</ul>

	<footer id='main-footer'></footer>

 </main>
{% endblock main %}


{% block scripts %}
<script async defer src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}
