{% extends 'chat/base.html' %}
{% load static %}

{% block aside%}
<aside>
    <header>
        <input type="text" placeholder="username" id='search-username' onkeydown="searchUsernameSubmitHandler(event)">
    </header>

    <ul id="contacts">
        <li data-username="kir" data-roomid='7' onclick="contactClickHandler(event)">
	        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
	        <div>
		        <h2 class="contact-name-aside">user1-name</h2>
		        <h3>
		        	<span class="new-message-count">0</span> new message
		        </h3>
	        </div>
       </li>
	   <li data-username="kos" data-roomid='233' onclick="contactClickHandler(event)">
		    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
		    <div>
		    	<h2 class="contact-name-aside">user2-name</h2>
		    	<h3>
		    		<span class="new-message-count">12</span> new message
		    	</h3>
		    </div>
       </li>
	   
   </ul>

</aside>
{% endblock aside %}


{% block main %}
<main>

	<header id="main-header">
	</header>

	<ul id="chat"> <!-- The id should not be changed -->
		
		{% comment %} <li class="you">
			<div class="entete">
				<span class="status green"></span>
				<h2>Vincent</h2>
				<h3>10:12AM, Today</h3>
			</div>
			<div class="triangle"></div>
			<div class="message">
				Hello
			</div>
		</li>
		<li class="me">
			<div class="entete">
				<h3>10:12AM, Today</h3>
				<h2>Vincent</h2>
				<span class="status blue"></span>
			</div>
			<div class="triangle"></div>
			<div class="message">
				Kir khar
			</div>
		</li> {% endcomment %}

	</ul>

	<footer id='main-footer'></footer>

 </main>
{% endblock main %}


{% block scripts %}
<script async defer src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}
